[advisories]
version = 2

[bans]
multiple-versions = "warn"
wildcards = "allow"

[licenses]
version = 2
confidence-threshold = 0.8
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "Unicode-3.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Zlib",
]

[sources]
unknown-git = "deny"
unknown-registry = "deny"
