[package]
name = "tools-macros"
version = "0.1.2"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }

[dev-dependencies]
serde_json = "1"
trybuild = "1"
types = { path = "../types" }
