[package]
name = "memory"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = "0.1"
types = { path = "../types" }

[dev-dependencies]
serde_json = "1"
tokio = { version = "1", features = ["macros", "rt"] }
